<!DOCTYPE html>
<html lang="en">
<style>
    #info{
        position : absolute;
        border-style : outset;
     border-radius : 15px;
     border-color : brown;
     background : #f4ead6;
     padding : 10px;
     left:300px;
     top:300px;
    }
</style>
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Title</title>
</head>
<body>
<div class="w3-bar w3-green">
  <form method="get" action="/map"> <a href="#" class="w3-bar-item w3-button"  onclick="event.target.parentNode.submit();">Dashboard</a> </form>
  <form method="get" action="/requestRadialStackBar"> <a href="#" class="w3-bar-item w3-button"  onclick="event.target.parentNode.submit();">Radial View</a> </form>
  <form method="get" action="/about"> <a href="#" class="w3-bar-item w3-button"  onclick="event.target.parentNode.submit();">About</a></form>

</div>
<div id="info">
CSCI - 6406 (Visualization) Final Project Fall:(2019-2020)<br>
    <strong>submitted to</strong> - Dr. Stephen Brooks <br>
    <strong>Author</strong> - Parth Panchal <br>

    <strong>University</strong> - Dalhousie University,NS Canada<br>
    <i>I would like to thanks author(s) of several web sources and Dr.Brooks for his valuable efforts for course presentation </i><br/>
    Special thanks to author(s) of websource - https://www.d3-graph-gallery.com/ (most of the aid was taken from d3-graph-gallery.com)
  <br/>  <strong>Line graph reference sources</strong> :::> https://medium.com/@louisemoxy/create-a-d3-line-chart-animation-336f1cb7dd61


</div>
</body>
</html>